/* ----------------------------------------------------------------
  Typography
-----------------------------------------------------------------*/

body {
    font-family: Helvetica, arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: black;
}


/* ----------------------------------------------------------------
  d3.js chart
-----------------------------------------------------------------*/

.bar {
    fill: steelblue;
}


/* ----------------------------------------------------------------
  Helper classes
-----------------------------------------------------------------*/

.initHidden {
    display: none;
}

.noMargin {
    margin: 0 !important;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexRow {
    display: -webkit-flex;
    /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
    /* Safari */
    -webkit-flex-direction: row;
    align-items: center;
}

.noSelect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* ----------------------------------------------------------------
  Content
-----------------------------------------------------------------*/

.contentDisplay {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.top {
    font-family: arial;
    position: fixed;
    z-index: 2;
    display: none;
    float: left;
    height: 100px;
    margin-left: 25px;
    padding: 0;
}

.targetDisplay {
    font-family: Helvetica;
    font-size: 75pt;
}

.noCursor {
    cursor: none;
}

.up {
    width: 400px;
    height: 250px;
    margin-bottom: -2.5px;
    border-width: 5px;
    border-style: solid;
}

.down {
    width: 400px;
    height: 250px;
    margin-top: -2.5px;
    border-width: 5px;
    border-style: solid;
}

.upText,
.downText {
    font-size: 40px;
    text-align: center;
}

.finalInst {
    font-size: 20px; 
    margin: 20px;
}

.feedbackDisplay {
    font-size: 40pt;
    display: none;
}

.instructionDisplay {
    width: 75%;
    padding: 10px 20px;
    border: 2px #1e1e1e solid;
    position: relative;
    height: 70vh;
    min-height: 500px
}

.resultsDisplay {
    width: 50%;
    padding: 10px 20px;
    border: 2px #1e1e1e solid;
}

.examples {
    justify-content: center;
}

.button-blue {
    font-size: 14px;
    margin: 25px auto;
    padding: 10px 30px 13px 30px;
    text-decoration: none;
    color: #06c;
    border: 2px #06c solid;
    outline: none;
    background: #fff;
}

.button-green {
    font-size: 14px;
    margin: 25px auto;
    padding: 10px 30px 13px 30px;
    text-decoration: none;
    color: green;
    border: 2px green solid;
    outline: none;
    background: #fff;
}

.smallButton {
    font-family: 'Helvetica', arial;
    font-size: 14px;
    text-decoration: none;
    color: #06c;
    border: 2px #06c solid;
    outline: none;
    background: #fff;
}

.pgButtons {
    bottom: 0;
    position: absolute;
    width: 100%
}


/* ----------------------------------------------------------------
  Modal content
-----------------------------------------------------------------*/

.modal {
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    top: 0;
    /* Sit on top */
    left: 0;
    display: none;
    /* Full height */
    overflow: auto;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, .4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    width: 50%;
    margin: 10% auto;
    /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    background-color: #fefefe;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    font-size: 28px;
    font-weight: bold;
    float: right;
    padding: 15px;
    color: #aaa;
}

.close:hover,
.close:focus {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 768px) {
    .button-blue:hover,
    .smallButton:hover {
        cursor: pointer;
        color: #fff;
        border: 2px #fff solid;
        background: #06c;
    }
    .button-green:hover {
        cursor: pointer;
        color: #fff;
        border: 2px #fff solid;
        background: green;
    }
}

    /* For mobile phones: */
/*
@media only screen and (max-width: 768px) {

    .instructionDisplay {
        width: 100%;
        min-height: 0;
        border: none;
    }
    .pgButtons {
        position: relative;
    }
    #pageDown,
    #pageUp,
    #beginExp {
        width: 45%;
    }
    .top {
        display: none !important;
    }
    .up,
    .down {
        width: 95%;
        height: 150px;
    }
    .upText,
    .downText {
        font-size: 20px;
        text-align: center;
    }
    
    .finalInst {
        font-size: 15px;
    }
    .targetDisplay {
        width: 100%;
        margin: 2%;
    }
    #mobileButtons {
        display: block;
    }
    .button-blue:active {
        font-size: 14px;
        margin: 25px auto;
        padding: 10px 30px 13px 30px;
        text-decoration: none;
        outline: none;
        color: #fff;
        border: 2px #fff solid;
        background: #06c;
    }
    .button-green:active {
        font-size: 14px;
        margin: 25px auto;
        padding: 10px 30px 13px 30px;
        text-decoration: none;
        outline: none;
        color: #fff;
        border: 2px #fff solid;
        background: green;
    }
    .smallButton:active {
        font-family: 'Helvetica', arial;
        font-size: 14px;
        text-decoration: none;
        outline: none;
        color: #fff;
        border: 2px #fff solid;
        background: #06c;
    }
}
*/
